{% extends 'plantilla.html' %}


{% block body %}
    {% with mensajes = get_flashed_messages() %} 
        {% if mensajes %} 
            {% for msj in mensajes %}
                <script>
                Swal.fire({
                text: '{{ msj }}',
                icon: 'success',
                confirmButtonText: 'Cool'
                })
                </script>
            {% endfor %}
        {% endif %} 
    {% endwith %} 
    <div class="wrapper" style="margin-top:2cm; margin-left:1cm; margin-right: 1cm;">
        <div class="content">
            <form class="row g-3" method="post" action="/guardarEnfermedad">
                <div class="input-group mb-3">
                    <input type="text"  name="txtnombre" class="form-control" placeholder="Ingresa el nombre de la enfermedad" required>
                    <button class="btn btn-primary"btn btn-outline-secondary" type="submit">Guardar</button>
                  </div>
            </form>
        </div> 
    </div>

    <!-- Footer -->
    <footer class="footer bg-light text-white mt-5 d-flex flex-column flex-md-row  text-md-start justify-content-between py-4 px-4 px-xl-5 ">
        <div class="container text-dark mb-3 mb-md-0" style="text-align: center;">
        <span>© 2023 Sistema Medico.</span>
        </div>
    </footer>
{% endblock %}