{% extends 'plantilla.html' %}

{% block body %}

<div class="wrapper" style="margin-top: 2cm; margin-left: 1cm; margin-right: 1cm;">
    <div class="content">
        <form class="row g-3" method="post" action="/updatePaciente/{{ listEPId[0] }}">
            <div class="col-md-4">
                <label for="inputName" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="txtnombre" placeholder="Ingresa el nombre" required  value="{{ listEPId[1] }}">
            </div>
            <div class="col-md-4">
                <label for="inputAP" class="form-label">Apellido Paterno</label>
                <input type="text" class="form-control" name="txtap" placeholder="Ingresa el apellido paterno" required value="{{ listEPId[2] }}">
            </div>
            <div class="col-md-4">
                <label for="inputAM" class="form-label">Apellido Materno</label>
                <input type="text" class="form-control" name="txtam" placeholder="Ingresa el apellido materno" required value="{{ listEPId[3] }}">
            </div>
            <div class="col-md-6">
                <label for="inputFN" class="form-label">Fecha de nacimiento</label>
                <input type="date" name="txtFechanacimiento" required value="{{ listEPId[4] }}">
            </div>
            <div class="col-md-6">
                <label for="inputEnfermedades" class="form-label">Enfermedades Crónicas</label>
                <select id="inputEnfermedades" class="form-select" name="txtEnfermedades" required>
                    <option value="">Seleccione una enfermedad</option>
                    {% for enfermedad in enfermedades %}
                        {% if enfermedad[1] == listEPId[7] %}
                            <option value="{{ enfermedad[0] }}" selected>{{ enfermedad[1] }}</option>
                        {% else %}
                            <option value="{{ enfermedad[0] }}">{{ enfermedad[1] }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            
            <div class="col-md-6">
                <label for="exampleFormControlTextarea2" class="form-label">Alergias</label>
                <textarea class="form-control" name="txtalergias" rows="3" required placeholder="Ingresa las alergias del paciente" value="{{ listEPId[5] }}">{{ listEPId[5] }}</textarea>
            </div>
            <div class="col-md-6">
                <label for="exampleFormControlTextarea3" class="form-label">Antecedentes Familiares</label>
                <textarea class="form-control" name="txtantecedentes" rows="3" required placeholder="Ingresa los antecedentes familiares" value="{{ listEPId[6] }}">{{ listEPId[6] }}</textarea>
            </div>

            {%if rolMedico==2 %}
            <div class="col-md-6">
                <label for="inputMedico" class="form-label">Medico</label>
                <select id="inputMedico" class="form-select" name="txtmedico" required value="{{ listEPId[8] }}">
                    <option value="">Seleccione un medico</option>
                    {% for medico in medicos %}
                    <option value="{{ medico[0] }}">{{ medico[1] }}</option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>
        </form>
    </div>
</div>

<!-- Footer -->
<footer class="footer bg-light text-white mt-5 d-flex flex-column flex-md-row  text-md-start justify-content-between py-4 px-4 px-xl-5 ">
    <div class="container text-dark mb-3 mb-md-0" style="text-align: center;">
        <span>© 2023 Sistema Medico.</span>
    </div>
</footer>

{% endblock %}
